body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/115/950/original/mangrovecoast.JPG?1708287697);
  background-size: cover;
  font-family: "Architects Daughter", cursive;
}

a {
  text-decoration: none;
  color: rgb(247, 245, 245);
}

.container {
  margin: 60px auto 180px auto;
  max-width: 500px;
}

header {
  margin-bottom: 30px;
}

h1 {
  color: rgb(49, 59, 51, 0.8);
  font-size: 34px;
  text-align: center;
}
h1:hover {
  transform: scale(1.3);
}
.form-container {
  background-color: rgb(0, 0, 0, 0.15);
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.2);
  margin-bottom: 30px;
  padding: 30px 30px 15px 30px;
}
.destination-form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5 rem;
}

.instructions {
  background-color: rgb(247, 245, 245, 0.5);
  border-radius: 35px;
  border: 1px solid rgb(66, 119, 133);
  font-family: "Architects Daughter", cursive;
  font-size: 18px;
  flex: 1 0 10rem;
  padding: 15px 20px;
  width: 80%;
}
input::placeholder {
  color: rgb(49, 59, 51);
}
.submit-button {
  background-color: rgb(66, 119, 133);
  border-radius: 35px;
  border: none;
  color: rgb(247, 245, 245);
  flex: 1 0 2rem;
  font-family: "Architects Daughter", cursive;
  font-size: 18px;

  margin-left: 10px;
  padding: 15px 20px;
  width: 100px;
}
.submit-button:hover {
  cursor: pointer;
}
.hint {
  color: rgb(49, 59, 51, 0.8);
  line-height: 1.5;
  margin-top: 10px;
}
.destination {
  background-color: rgb(0, 0, 0, 0.25);
  color: rgb(247, 245, 245);
  border-radius: 10px;
  border-left: 3px solid rgb(66, 119, 133);
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.3);
  font-size: 18px;
  line-height: 2;
  padding: 20px;
}
.destination strong {
  color: rgb(128, 0, 128);
  font-size: 26px;
}
footer {
  color: rgb(0, 0, 0, 0.9);
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}
.logo {
  display: block;
  margin: 10px auto;
  max-width: 80px;
}
